@import url('https://fonts.google.com/specimen/B612?preview.text_type=custom');

body {
    margin: 0 0 0 0;
    font-family: 'B612', sans-serif;
    text-decoration: none;
}
  
* {
    box-sizing: border-box;
    font-size: 1rem;
    animation: fade-in 1s;
    font-family: 'B612', sans-serif;
    color: black;
}

/* 

==================================

BACKGROUND CSS

==================================

*/

#tsparticles {
    height: 100%;
    position: absolute;
    transition: ease-in 1s;
    z-index: -1;
}

.landingTitle {
    z-index: 950;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landingTitle > h1 {
    font-size: 5rem;
    margin: 5rem;
}

.landingTitle > h6{
    position: absolute;
    bottom: 3%;
}

.landingTitle > h5:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.landingNav {
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

.dateHolder {
    display: flex;
    margin-right: 2rem;
}

.dateHolder > h4 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.dateHolder > h3 {
    margin-right: 6rem;
}

.ham {
    position: absolute;
    left: 2%;
    top: 25%;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    z-index: 999;
}

.ham:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.landingNav > h3,
.landingNav > h6 {
    align-items: flex-end;
}

.hamCont {
    color: white;
    z-index: 999;
    position: absolute;
    top: 0;
    background: black;
    display: flex;
    background: rgba(243, 243, 243, 0.8);
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;
    height: 100vh;
    width: 40vw;
    transition: left 1s;
    left:-40vw;
}
.hamCont.open{
    left:0px;
    display: flex;
}

.hamCont > h3 {
    cursor: pointer;
    font-size: 1.3rem;
}

.hamCont > h3:hover {
    color: rgba(0, 0, 0, 0.4);
}

.hamCont > h4 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.x{
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.x:hover{
    color: rgba(0, 0, 0, 0.3);
}

.nav {
    height: 15vh;    
}

#navIcon {
    height: 4rem;
    border: 3px solid white;
    border-radius: 50%;
    padding: 0.5rem;
}

#side {
    height: 100%;
    position: fixed;
}



@media screen and (orientation: landscape) and (max-height: 440px) {
    .landingTitle {
        justify-content: unset;
    }

    .landingTitle > h1 {
        margin: 5rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 330px) {
    .landingTitle {
        justify-content: center;
    }

    .landingTitle > h1 {
        margin: 3rem;
        font-size: 3rem;
    }

    .hamCont.open {
        width: 100vw;
        background: rgba(243, 243, 243, 1)
    }

}

@media screen and (max-width: 430px) {
  
    .landingTitle > h1 {
        margin: 5rem;
        font-size: 4rem;
    }
    .dateHolder{
        margin-right: 5px;
    }
    .dateHolder > h4 {
        font-size: 1.3rem;
    }
    .hamCont.open {
        width: 100vw;
        background: rgba(243, 243, 243, 1)
    }
    .hamCont > h3 {
        cursor: pointer;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
  
    .landingTitle > h1 {
        margin: 5rem;
        font-size: 4rem;
    }

    .dateHolder > h4 {
        font-size: 1rem;
    }

    .hamCont > h3 {
        cursor: pointer;
        font-size: 1.2rem;
    }

}

/*

==================================

LOGIN & SIGNUP FORM STYLING

==================================

*/

.loginFormCont {
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.signUpFormCont {
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

#loginForm{
    margin-bottom: 5rem;
}

.loginFormCont > h2 {
    z-index: 999;
}

.signUpFormCont > h2 {
    z-index: 999;
}

.form-group {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.form-group > div > span {
    background: white;
    width: 4vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.form-group > div > input {
    font-size: 1rem;
    width: 20vw;
    height: 6vh;
    border: none;
    outline: none;
}

.footer {
    position: relative;
    bottom: 3%;
    text-align: center;
    z-index: 999;
    margin: auto;
    width: 100vw;
}

.loginButton {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.loginButton > button {
    background: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 7vw;
    height: 5vh;
}

.loginButton > button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.signUpButton {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.signUpButton > button {
    background: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 7vw;
    height: 5vh;
}

.signUpButton > button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.altButtons {
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.altButtons > h5{
    padding: 10px;
    border-radius: 15px;
}

.altButtons > h5:hover{
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
#password {
    width: 16vw;
    outline: none;
}

#password1 {
    width: 16vw;
    outline: none;
}

#password2{
    width: 16vw;
    outline: none;
}

#eye {
    cursor: pointer;
}

#eye1 {
    cursor: pointer;
}

#eye2 {
    cursor: pointer;
}

.title2{
    margin: 3rem;
}

@media screen and (max-width: 440px) {
    .form-group > div > input { 
        width: 70vw;
        border-radius: 0;
    }

    #password {
        width: 60vw;
    }

    #password1 {
        width: 60vw;
    }

    #password2 {
        width: 60vw;
    }

    .form-group > div > span {
        width: 10vw;
    }

    .loginButton > button {
        width: 20vw;
        height: 7vh
    }

    .signUpButton > button {
        width: 30vw;
        height: 7vh
    }
}

@media screen and (max-height: 450px) {
    .form-group > div > input { 
        width: 57vw;
        border-radius: 0;
        height: 12vh;
    }

    .form-group > div > span {
        width: 7vw;
        height: 12vh;
    }

    #password {
        width: 50vw;
        height: 12vh;
    }

    #password1 {
        width: 50vw;
        height: 12vh;
    }

    #password2 {
        width: 50vw;
        height: 12vh;
    }

    #eye {
        width: 7vw;
    }

    #eye1{
        width: 7vw;
    }

    #eye2 {
        width: 7vw;
    }

    .loginFormCont {
        justify-content: center;
        height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
    }

    .signUpFormCont{
        justify-content: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
    }

    .loginButton > button {
        width: 15vw;
        height: 12vh
    }

    .signUpButton > button {
        width: 20vw;
        height: 12vh
    }

    .title2{
        margin: 0;
        margin-top: 5rem;
    }

    .footer{
        position: relative;
    }
}

@media screen and (orientation: landscape) and (max-height: 330px) {
    .title2{
        margin: 0;
        margin-top: 10rem;
    }

    .form-group > div > input { 
        height: 15vh;
    }

    .form-group > div > span {
        height: 15vh;
    }

    #password {
        width: 50vw;
        height: 15vh;
    }

    #password1 {
        width: 50vw;
        height: 15vh;
    }

    #password2 {
        width: 50vw;
        height: 15vh;
    }

    #eye {
        width: 7vw;
    }

    #eye1 {
        width: 7vw;
    }

    #eye2 {
        width: 7vw;
    }

    .altButtons > h5{
        margin-bottom: 2rem;
    }
}

@media screen and (orientation: portrait) and (min-width: 760px) {
    .form-group > div > input { 
        width: 40vw;
        border-radius: 0;
        height: 5vh;
    }

    #password {
        width: 30vw;
        height: 5vh;
    }

    #password1 {
        width: 30vw;
        height: 5vh;
    }

    #password2 {
        width: 30vw;
        height: 5vh;
    }

    #eye{
        height: 5vh;
    }

    #eye1{
        height: 5vh;
    }

    #eye2{
        height: 5vh;
    }


    .form-group > div > span {
        width: 10vw;
        height: 5vh;
    }

    .loginButton > button {
        width: 15vw;
        height: 4vh
    }

    .signUpButton > button {
        width: 20vw;
        height: 4vh
    }
}

@media screen and (min-width: 1000px) {
    .signUpButton > button {
        width: 15vw;
        height: 5vh
    }
}

@media screen and (min-width: 1400px) {
    .footer{
        position: absolute;
    }

    .signUpButton > button {
        width: 10vw;
        height: 5vh
    }
}

/*

==================================

HOME FEED CSS

==================================

*/

.sideMenu {
    width: 25vw;
    height: 100vh;
    z-index: 999;
    position: relative;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    position: fixed;
}

.menTit {
    height: 12vh;
}

.profileTag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
    cursor: pointer;
}

.profileTag > h5:hover {
    color: rgba(0, 0, 0, 0.2);
}

.profileTag > .fas {
    margin-right: 15px;
    margin-bottom: 5px;
}

.foote{
    position: absolute;
    bottom: 0;
    left: 8%;
    text-align: center;
}

.togg > h6 {
    height: 5vh;
}

.modeToggler {
    height: 5vh;
    width: 10vw;
    border-radius: 25px;
    background: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    
}

.toggIconHolder {
    border-radius: 50%;
    background: white;
    width: 3vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    float: right;
    cursor: pointer;
    transition: ease 0.5s;
}

.toggIconHolder > .fas {
    color: orange;
}

.columnCont {
    display: flex;
    flex-direction: row;
}

.postCont {
    width: 75vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25vw;
}

#postInput{
    z-index: 999;
    padding: 10px;
    align-self: center;
    width: 35vw;
    outline: none;
    height: 15vh;
    border: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.inputCont{
    width: 75vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.inputCont > button {
    width: 45px;
    height: 45px;
    background: #24B67E;
    color: white;
    margin: auto;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: auto;
    top: 11rem;
    z-index: 999;
    font-size: x-large;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#feedCont{
    width: 75vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100%;
    overflow: auto;
}

.singPost {
    width: 100%;
    height: 20vh;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    overflow: hidden;
}

.profileImageCont {
    border: 1px solid black;
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImageCont > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.nm.fa-star:hover{
    color: yellow;
    cursor: pointer;
}

.toTop {
    width: 40px;
    height: 40px;
    background: #24B67E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
}

.co {
    width: 30vw;
}

.l {
    text-align: left;
}

.nice{
    height: 20vh;
    text-align: center;
}

.ho:hover{
    opacity: 60%;
}

@media screen and (min-width: 1000px) {
    .inputCont >button {
       top: 11.5rem
    }
}

@media screen and (min-width: 1500px) {
    .inputCont > button {
        top: 13rem
    }
}

@media screen and (max-width: 470px) {
    .profileImageCont {
        height: 40px;
        width: 40px;
    }

    .profileImageCont > img{
        height: 40px;
        width: 40px;
    }

    .co {
        width: 60vw;
    }

    .sideMenu{
        width: 40vw;
    }

    .postCont{
        width: 60vw;
        left: 40vw;
    }

    #feedCont{
        width: 60vw;
        text-align: center;
    }

    .singPost {
        padding: 5px;
    }

    .modeToggler {
        width: 16vw;
        height: 3vh;
    }

    .toggIconHolder{
        width: 7vw;
    }

    #postInput {
        width: 55vw;
    }

    .inputCont {
        width: 60vw;
    }

    .inputCont > button {
        height: 30px;
        width: 30px;
        font-size: large;
        top: 11.5rem;
    }

    .dateHolder > h4 {
        font-size: 1rem;
    }
    
    .toTop {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 430px) {
    .dateHolder >h4 {
        font-size: 0.8rem;
    }
    .foote {
        font-size: small;
    }

    #postInput{
        height: 21vh;
    }

    .sm{
        font-size: small;
    }

    .singPost{
        height: 30vh;
        
    }

   .nice{
       width: 40vw;
       height: 30vh;
   }

   
}

@media screen and (min-width: 370px) and (max-height: 670px) {
    #postInput{
        height: 17vh;
    }
    
}

@media screen and (min-width: 410px) and (max-height: 740px) {
    #postInput{
        height: 15vh;
    }

    .sm{
        font-size: medium;
    }

    .dateHolder > h4 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 370px) and (max-width: 390px) {
    .dateHolder >h4 {
        font-size: 0.8rem;
    }
    .foote {
        font-size: small;
    }

    #postInput{
        height: 15vh;
    }

    .sm{
        font-size: small;
    }

    .singPost{
        height: 20vh;
        
    }

   .nice{
       width: 40vw;
       height: 20vh;
   }
}

@media screen and (orientation: landscape) and (max-height: 440px) {
    #postInput {
        height: 30vh;
    }

    .profileTag {
        margin: 1rem;
    }

    .ho {
        font-size: medium;
    }

    .nice {
        height: 40vh;
    }

    .singPost {
        height: 50vh;
        align-items: unset;
        padding-top: 1rem;
    }

    #headerbg {
        height: 38vh;
    }

    #useName{
        padding-left: 0;
        text-align: center;
    }


    #headerbg > img {
        height: 38vh;
    }

    .inputCont > button {
        top: 11rem;
    }

    .co {
        width: 40vw;
    }

    .backButton{
        top: 130vh;
    }
}

@media screen and (orientation: landscape) and (max-height: 390px) {
    #postInput {
        height: 32vh;
        width: 40vw;
    }

    .singPost {
        height: 50vh;
        align-items: unset;
        padding-top: 1rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 340px) {
    #postInput {
        height: 40vh;
    }

    .inputCont > button {
        top: 12rem;
    }

    .singPost {
        height: 60vh;
        align-items: unset;
        padding-top: 1rem;
    }
}

/* 

==================================

CSS FOR IND POST PAGE

==================================

*/

.indCont {
    width: 75vw;
    display: flex;
    flex-direction: column;
    left: 25vw;
    margin-top: 3rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.rightColumn{
    position: absolute;
    left: 25vw;
    height: 100vh;
}

@media screen and (max-width: 470px) {
    .indCont{
        width: 60vw;
    }

    .rightColumn{
        left: 40vw;
    }
}

/*

==================================

CSS FOR PROFILE PAGE

==================================

*/

.profCont{
    position: absolute;
    left: 25vw;
    height: 100vh;
    width: 75vw;
}

.headEr {
    margin-top: 4.5rem;
    width: 75vw;
    height: 20vh;
}

#headerbg > img {
    width: 75vw;
    height: 25vh;
    border-bottom: 1px solid black;
    object-fit: cover;
}

.headEr > div {
    object-fit: cover;
    height: 25vh;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.profileImageCont2{
    border: 1px solid black;
    background: white;
    border-radius: 50%;
    width: 15vw;
    height: 20vh;
    display: flex;
    margin-left: 3rem;
    align-items: center;
    justify-content: center;
}

.profileImageCont2 > img {
    border: 1px solid black;
}

.imageCo2 {
    position: absolute;
    top: 10rem;
}

#userIm {
    font-size: 3rem;
}

#useName{
    margin-top: 5rem;
    padding-left: 18rem;
}

#useName2{
    padding-left: 18rem;
    margin-top: 1rem;
}

.bio{
    padding-left: 0;
}

.switchCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.switchCont > h5 {
    font-size: large;
}

.h:hover {
    color: #24B67E;
    cursor: pointer;
}

#p {
    color: #24B67E;
}

.settingsCont{
    width: 75vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.settingsCont2 {
    width: 75vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsCont >h6 {
    font-size: larger;
    margin: 1.5rem;
    cursor: pointer;
}

.settingsCont2 >h6 {
    font-size: larger;
    margin: 1.5rem;
    cursor: pointer;
}

.cbHeader > h6 {
    font-size: larger;
}

.settingsCont >h6:hover {
    opacity: 60%;
    color: #24B67E;
}

.settingsCont2 >h6:hover {
    opacity: 60%;
    color: #24B67E;
}

.backButton {
    position: absolute;
    left: 10px;
    top: 61vh;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #24B67E;
    color: white;
}

.backButton:hover{
    opacity: 90%;
    cursor: pointer;
    color: #24B67E;
}

.backButton > span {
    color: white;
}

.cbHeader {
    margin-top: 1rem;
}

.bioCont {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bioCont > input {
    height: 7vh;
    width: 40vw;
    font-size: larger;
    margin-bottom: 1rem;
    padding: 0px 5px 0px 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.subBtnCont > button {
    background: #24B67E;
    color: white;
    border: none;
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    margin-top: 3rem;
}

.cpiCont{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cpiCont > input[type='file'] {
    display: none;
}

#cpiImageButton {
    height: 7vh;
    width: 20vw;
    background: #24B67E;
    font-size: larger;
    margin-bottom: 1rem;
    padding: 0px 5px 0px 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImg{
    width: 20vw;
    border: 1px solid black;
    border-radius: 50%;
    height: 30vh;
    margin-top: 1rem;
}

.previewImg > img {
    object-fit: cover;
    width: 20vw;
    border-radius: 50%;
    height: 30vh;
    border: 1px solid black;
}

.previewHImg{
    width: 70vw;
    border: 1px solid black;
    height: 20vh;
}

.previewHImg > img {
    object-fit: cover;
    width: 70vw;
    height: 20vh;
    border: 1px solid black;
}

.image_upload {
    background: #24B67E;
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
    text-align: center;
    padding-top: 5px;
}

.replyButton {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.replyButton > button {
    background: #24B67E;
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 1rem;
    text-align: center;
    padding-top: 5px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.submitReplyBtn > button {
    background: #24B67E;
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 2rem;
    text-align: center;
    padding-top: 5px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.submitReplyBtn {
    display: flex;
    justify-content: center;
}

.modalCont {
    z-index: 999;
    background: #F5F5F5;
    position: fixed;
    top: 50%;
    height: 30vh;
    width: 30vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#yn {
    width: 40vw;
    margin-top: 3rem;
}

#yn > h6 {
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

#yn > h6:hover {
    opacity: 60%;
    cursor: pointer;
}

#upi {
    height: 25vh;
    width: 20vw;
    border-radius: 50%;
    object-fit: cover;
}

.box {
    height: 15vh
}

.modalCont2 {
    left: 43vw;
    width: 40vw;
    height: 40vh;
    top: 40%;
    justify-content: unset;
}

#xspan {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
}

#xspan:hover {
    opacity: 50%;
    cursor: pointer;
}

.di{
    width: 100%;
}

.di > h5 {
    font-size: large;
}

.textarea > textarea {
    resize: none;
    width: 35vw;
    height: 12vh;
    margin: auto;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 470px) {
    .textarea > textarea {
        width: 45vw;
        padding: 5px;
        margin-top: 1rem;
    }

    .di > h5 {
        font-size: medium;
    }

    .modalCont2 {
        left: 45vw;
    }

    #upi {
        height: 15vh;
        width: 30vw;
    }

    .modalCont {
        height: 30vh;
        width: 50vw;
    }

    .modalCont2 {
        height: 40vh;
        top: 30%;
    }

    .backButton{
        top: 57vh;
        left: 5px;
        width: 30px;
        height: 30px;
    }

    .image_upload {
        width: 35vw;
    }

    .replyButton > button {
        width: 35vw;
    }

    .submitReplyBtn > button {
        width: 35vw;
    }

    .previewImg{
        width: 50vw;
        height: 30vh;
    }
    
    .previewImg > img {
        width: 50vw;
        height: 30vh;
    }

    .previewHImg{
        width: 50vw;
        height: 30vh;
    }
    
    .previewHImg > img {
        width: 50vw;
        height: 30vh;
    }

    .subBtnCont > button {
        background: #24B67E;
        color: white;
        border: none;
        width: 20vw;
        height: 5vh;
        margin-top: 1rem;
    }

    .bioCont > input {
        width: 50vw;
    }

    .cpiCont > input {
        width: 50vw;
    }

    .switchCont > h5 {
        font-size: medium;
    }

    .cbHeader > h6 {
        font-size: medium;
    }

    .settingsCont >h6 {
        font-size: medium;
    }

    .settingsCont2 >h6 {
        font-size: medium;
    }

    .switchCont {
        margin-top: 2rem;
        padding-bottom: 10px;
    }

    #useName{
        text-align: center;
        margin-top: 4.5rem;
        padding-left: 0;
    }

    #useName2{
        text-align: center;
        
        padding-left: 0;
    }

    .settingsCont{
        width: 60vw;
    }

    .settingsCont2{
        width: 60vw;
    }

    .indCont{
        width: 60vw;
    }

    .profCont{
        left: 40vw;
        width: 60vw;
    }

    .profileImageCont2{
        width: 30vw;
        height: 15vh;
        margin-left: 0;
    }

    .imageCo2 {
        top: 9rem;
        width: 60vw;
        display: flex;
        justify-content: center;
    }

    .headEr {
        margin-top: 3.5rem;
        width: 60vw;
    }

    .headEr > div {
        height: 20vh;
        width: 60vw;
    }


    #headerbg > img {
        height: 20vh;
        width: 60vw;
    }
}

@media screen and (max-width: 340px) {
    .imageCo2 {
        top: 7rem;
    }

    .image_upload {
        height: 6vh;
        width: 30vw;
    }

    .replyButton > button{
        height: 6vh;
        width: 30vw;
    }

    .submitReplyBtn > button{
        height: 6vh;
        width: 30vw;
    }

    .settingsCont {
        height: 30vh;
    }

    .bioCont{
        height: 30vh;
    }

    .cpiCont{
        height: 55vh;
    }

    .settingsCont > h6 {
        font-size: smaller;
        margin: 1rem;
    }

    .settingsCont2 {
        height: 30vh;
    }

    .bioCont > input {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .cpiCont > input {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .settingsCont2 > h6 {
        font-size: smaller;
        margin: 1rem;
    }
    .cbHeader > h6 {
        font-size: smaller;
    }

    .backButton{
        top: 73vh;
    }
}

@media screen and (max-width: 380px) and (min-height: 800px) {
    .backButton{
        top: 56vh;
    }
}

@media screen and (min-height :660px) and (max-height:  670px) {
    .backButton{
        top: 65vh;
        left: 5px;
    }
}

@media screen and (orientation: landscape) and (max-height: 440px) {
    #headerbg > img {
        height: 38vh;
    }
    
    #useName {
        padding-left: 0;
        text-align: center;
    }

    .backButton{
        top: 100vh;
    }

    .settingsCont {
        height: 60vh;
    }

    .image_upload {
        height: 10vh;
        width: 14vw;
    }

    .replyButton > button {
        height: 10vh;
        width: 14vw;
        margin-bottom: 1rem;
    }

    .submitReplyBtn > button {
        height: 10vh;
        width: 14vw;
        margin-bottom: 1rem;
    }

    .subBtnCont > button {
        width: 30vw;
        height: 10vh;
        margin-bottom: 1rem;
    }

    .bioCont {
        height: 30vh;
        margin-top: 2rem;
    }

    #bio {
        height: 20vh;
        margin-bottom: 0;
        padding: 10px 5px 10px 5px;
    }
}

@media screen and (orientation: landscape) and (max-height: 340px) {
    .settingsCont {
        height: 60vh;    
    }

    .backButton{
        top: 100vh;
    }

    .inputCont > button {
        top: 14rem;
    }

    .bioCont {
        height: 30vh;
        margin-top: 1rem;
    }

    .subBtnCont > button {
        width: 30vw;
        height: 10vh;
        margin-bottom: 1rem;
    }

    .image_upload {
        height: 10vh;
        width: 16vw;
    }

    .replyButton > button {
        height: 10vh;
        width: 16vw;
    }

    .submitReplyBtn > button {
        height: 10vh;
        width: 16vw;
    }

    .indCont {
        padding-bottom: 1.5rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 325px) {

    .backButton{
        top: 120vh;
    }

    #bio {
        height: 20vh;
        margin-bottom: 0;
        padding: 10px 5px 10px 5px;
    }

    .inputCont > button {
        top: 12rem;
    }

    .bioCont {
        height: 30vh;
        margin-top: 2rem;
    }

    .subBtnCont > button {
        width: 30vw;
        height: 10vh;
        margin-bottom: 1rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 1000px) {
    .inputCont > button {
        top: 13rem;
    }

    .modeToggler {
        height: 4vh;
        width: 13vw;
    }

    .toggIconHolder {
        width: 5vw;
    }

    #headerbg {
        height: 20vh;
    }

    #headerbg > img {
        height: 20vh;
    }
    .profileImageCont2 {
        height: 15vh;
        width: 15vw;
    }

    .profileImageCont2  > img{
        height: 15vh;
        width: 15vw;
    }

    #useName {
        padding-left: 0;
        text-align: center;
    }

    .backButton {
        top: 55vh;
    }

    .image_upload {
        width: 15vw;
    }

    .replyButton > button {
        width: 15vw;
    }

    .submitReplyBtn > button {
        width: 15vw;
    }

    #bio {
        height: 5vh;
    }

    .subBtnCont > button {
        height: 4vh;
        width: 13vw;
    }

    .previewImg {
        height: 20vh;
        width: 25vw;
    }

    .previewImg > img{
        height: 20vh;
        width: 25vw;
    }

    .cpiCont {
        height: 40vh;
    }
}

@media screen and (orientation: portrait) and (min-height: 1300px) {
    .inputCont > button {
        top: 16rem;
    }

    #headerbg {
        height: 17vh;
    }

    #headerbg > img {
        height: 17vh;
    }   
    
    
    .image_upload {
        padding-top: 10px;
    }

    .replyButton > button {
        padding-top: 10px;
    }

    .submitReplyBtn > button {
        padding-top: 10px;
    }

    .backButton {
        top: 45vh;
    }

    .settingsCont > h6 {
        font-size: x-large;
        margin: 2rem;
    }
}

@media screen and (orientation: landscape) and (min-width: 1000px) and (max-height: 780px) {
    .subBtnCont > button {
        height: 4vh;
        width: 13vw;
    }

    .backButton {
        top: 65vh;
    }    

    .image_upload {
        height: 5vh;
    }

    .replyButton > button{
        height: 5vh;
    }

    .submitReplyBtn > button{
        height: 5vh;
    }
}

@media screen and (orientation: landscape) and (min-width: 1300px) and (min-height: 1020px) and (max-height: 1030px) { 
    .settingsCont > h6 {
        font-size: x-large;
    }

    .backButton {
        top: 55vh;
    }

    .image_upload {
        height: 4vh;
        padding-top: 11px;
    }

    .replyButton > button {
        height: 4vh;
        padding-top: 11px;
    }

    .submitReplyBtn> button {
        height: 4vh;
        padding-top: 11px;
    }

    .inputCont > button {
        top: 13rem;
    }

    .cpiCont {
        height: 52vh;
    }
}