@import url('https://fonts.google.com/specimen/B612?preview.text_type=custom');

body {
    margin: 0 0 0 0;
    font-family: 'B612', sans-serif;
    text-decoration: none;
}
  
* {
    box-sizing: border-box;
    font-size: 1rem;
    animation: fade-in 1s;
    font-family: 'B612', sans-serif;
    color: black;
}

/* 

==================================

BACKGROUND CSS

==================================

*/

#tsparticles {
    height: 100vh;
}

.landingTitle {
    z-index: 999;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landingTitle > h1 {
    font-size: 5rem;
    margin: 5rem;
}

.landingTitle > h6{
    position: absolute;
    bottom: 3%;
}

.landingNav {
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

.dateHolder {
    display: flex;
    margin-right: 2rem;
}

.dateHolder > h4 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.dateHolder > h3 {
    margin-right: 6rem;
}

.ham {
    position: absolute;
    left: 2%;
    top: 25%;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.ham:hover{
    cursor: pointer;
}

.landingNav > h3,
.landingNav > h6 {
    align-items: flex-end;
}

@media screen and (orientation: landscape) and (max-height: 440px) {
    .landingTitle {
        justify-content: unset;
    }

    .landingTitle > h1 {
        margin: 5rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 330px) {
    .landingTitle {
        justify-content: unset;
    }

    .landingTitle > h1 {
        margin: 3rem;
    }
}

@media screen and (max-width: 330px) {
  
    .landingTitle > h1 {
        margin: 5rem;
        font-size: 4rem;
    }
}

@media screen and (max-width: 430px) {
  
    .landingTitle > h1 {
        margin: 5rem;
        font-size: 4rem;
    }
    .dateHolder{
        margin-right: 5px;
    }
}